<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>
<body>
    <h1>Heroes</h1>
    <a href="babbage"><img title="Babbage" height="250" src="/img/babbage.jpg" alt="Babbage"></a>
    <a href="berners-lee"><img title="Berners-lee" height="250" src="/img/berners-lee.jpg" alt="Berners-lee">
    <a href="clarke"><img title="Clarke" height="250" src="/img/clarke.jpg" alt="Clarke">
    <a href="hamilton"><img title="Hamilton" height="250" src="/img/hamilton.jpg" alt="Hamilton">
    <a href="hopper"><img title="Hopper" height="250" src="/img/hopper.jpg" alt="Hopper">
    <a href="lovelace"><img title="Lovelace" height="250" src="/img/lovelace.jpg" alt="Lovelace">
    <a href="turing"><img title="Turing" height="250" src="/img/turing.jpg" alt="Turing">
</body>
</html>